html {
  position: relative;
  height: 500px;
  background-color: rgb(214, 247, 236);
  /* background-image: url(/images/dames-de-meuse.jpg) ; */
  /* background-repeat: no-repeat; */
  /* opacity: 1; */
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  /* position: fixed; */
  width: 100%;
  height: 600px;
}

#imageAccueil img {
  width: 100%;
  height: 500px;
  /* opacity: 0.6; */
}

.accueil {
  width: 100%;
  margin-top: 10px;
  justify-content: space-evenly;
  flex-direction: row-reverse;
}
#langages {
  display: flex;
}

#titre {
  width: 400px;
  height: 40px;
  margin-top: 0;
  margin: 0 auto;
  text-align: center;
  color: rgba(26, 28, 124, 0.993);
  font-size: 35px;
  font-weight: 500;
  border: blue solid 1px;
  border-radius: 8px;
  background: linear-gradient(
    90deg,
    rgba(184, 223, 231, 1) 0%,
    rgb(77, 179, 202) 100%,
    rgb(46, 182, 209) 100%
  );
  box-shadow: 4px 5px 10px 3px #000000;
}
#choix {
  width: 120px;
}
#navbar {
  width: 650px;
  height: 30px;
  margin: 0 auto;
  margin-top: 20px;
  /* background: linear-gradient(
    90deg,
    rgba(184, 223, 231, 1) 0%,
    rgb(77, 179, 202) 100%,
    rgb(46, 182, 209) 100%
  ); */
  background-color: rgb(103, 183, 199);
  box-shadow: 1px 1px 1px 1px #000000;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: black solid 1px;
  border-radius: 8px;
}
.lesnav {
  list-style: none;
  font-size: 1.5em;
  cursor: pointer;
}
#lesrecommendations {
  position: absolute;
  color: white;
  top: 4px;
  left: 300px;
  background-color: rgba(247, 6, 6, 0.788);
  box-shadow: 1px 1px 1px 1px #000000;
  border-radius: 5px;
  padding: 0 4px;
  visibility: hidden;
}
#recommendations {
  position: absolute;
  top: 130px;
  margin-left: 20px;
  margin-top: 20px;
  width: 85%;
  margin-bottom: 20px;
  text-align: justify;
  visibility: hidden;
}

#image {
  cursor: pointer;
}

img {
  width: 30px;
  height: 18px;
  cursor: pointer;
}
.img1 {
  margin-left: 10px;
  display: flex;
  align-items: center;
  padding: 0;
}

.flex-container #case,
#case2,
#case3 {
  font-size: 10px;
  margin: 2px 10px 6px;
}

.panneau {
  width: 250px;
  background-color: aquamarine;
  display: flex;
}
/* ======================================= */
#le_chalet {
  position: absolute;
  display: flex;
  top: 130px;
  left: 25px;
  align-items: center;
  justify-content: space-around;
  font-size: 1.2em;
  border: black 2px solid;
  border-radius: 10px;
  width: 120px;
  height: 15px;
  padding: 5px;
  text-align: center;
  font-weight: 500;
  margin-top: 10px;
  background-color: #accef5;
  visibility: hidden;
}
#lesVisites {
  position: absolute;
  display: flex;
  top: 130px;
  left: 25px;
  align-items: center;
  justify-content: space-around;
  font-size: 1.2em;
  border: black 2px solid;
  border-radius: 10px;
  width: 180px;
  height: 15px;
  padding: 5px;
  text-align: center;
  font-weight: 500;
  margin-top: 10px;
  background-color: #accef5;
  visibility: hidden;
}

#swiperChalet {
  position: absolute;
  width: 98%;
  top: 175px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  visibility: hidden;
}
#swiperVisites {
  position: absolute;
  width: 98%;
  top: 175px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  visibility: hidden;
}
#swiperSpecialites {
  position: absolute;
  width: 98%;
  top: 175px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  visibility: hidden;
}

.swiper-slide{
  /* display: flex; */
  position: relative;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}
#swiperChalet img,
#swiperVisites img,
#swiperSpecialites img {
  /* display: flex; */
  position: relative;
  height: 180px;
  border-radius: 15px;
  width: 240px;
}
.texteimage{
  /* position: absolute; */
  left:  auto ;
  top: 160px;
  width: 130px;
  text-align: center;
  border-radius: 5px;
  height: 20px;
  margin:0 auto;
  background-color:black;
  color: white;
  translate: 0 -120%;
}

#trait {
  position: absolute;
  top: 155px;
  left: 28px;
  width: 90%;
  margin: 0 auto;
  color: black;
  background-color: black;
  height: 2px;
  visibility: hidden;
}
#lesrecommendations {
  font-size: 1.2em;
}

/* =================== figures   ======================= */
/* .lafigure {
  display: flex;
  align-items: center;
  flex-direction: column;
} */
/* .swiper-slide figcaption {
  height: 20px;
  width: 120px;
  text-align: center;
  background-color: #accef5;
  border: 1px solid black;
  border-radius: 10px;
  bottom: 6px;
  color: black;
  font-size: 14px;
  line-height: 19px;
} */
/* .swiperChalet{ 
  display: flex; 
   justify-content: center; 
} */
/* .swiper-slide figcaption { 
  /* position: absolute; */
/* top: 10px;
  color: #fff;
  gap: 0.5rem;
  padding: 10px;
  /* opacity: 0; */
/* transition: all 0.6s ease-in-out; */

/*.swiper-slide-active figcaption {
  transform: translate(-50%, -4px);
  opacity: 1;
} */
